a {
  outline: 0;
}

a:hover , a:focus {
  text-decoration: none;
  background: none;
}

#top-menu-music-progress .progress {
  height: 5px;
  margin: 0;
}

#top-menu-now-playing {
  font-size: 12px;
}

#top-menu-music {
  padding-top: 10px;
}

.navbar #top-menu-fast-backward, #top-menu-fast-play {
  padding: 15px 0 15px 15px;
}

#top-menu-account {
  padding-top: 12px;
  padding-bottom: 0;
}

#top-menu-logout {
  left: 280px;
}

.container#login-page {
  margin-top: 100px;
}

#top-menu-avatar img {
  margin-left: 10px;
}

.navbar-header {
  width: 150px;
  font-weight: bold;
}

.navbar > .container .navbar-brand {
  padding-top: 16px;
  font-size: 24px;
  margin-left: 0;
  padding-left: 0;
}

.navbar-form {
  padding: 0 0 0 17px;
}

.navbar-form input {
  width: 203px;
  background: #fcfcfc;
}

.navbar-form input:focus {
  background: #fff;
}

.navbar {
  border-radius: 0 0 4px 4px;
}

.list-group-item {
  padding: 5px 15px;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0px;
  border-radius: 0px;
}

#left-menu {
  width: 170px;
  float: left;
}

#news-feed {
  width: 955px;
  float: left;
  margin-left: 15px;
}

.panel-heading {
  padding: 5px 5px 3px 15px;
}

.panel-footer {
  font-size: 12px;
  padding: 3px 5px 3px 15px;
  background: none;
}

.panel-footer .likes {
  text-align: right;
}

#the-wall {
  width: 955px;
  float: left;
  margin-left: 15px;
}

#the-wall-news-feed {
  width: 740px;
  float: right;
  margin-top: 15px;
}

#the-wall-friends {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 15px;
}

#the-wall-profile-info, #the-wall-avatar {
  float: left;
}

#the-wall-avatar {
  padding-right: 15px;
}

#the-wall-profile-info {
  width: 740px;
  height: 200px;
  font-size: 16px;
}

#the-wall-profile-info div {
  float: left;
}

#the-wall-profile-info .col-md-3 {
  padding-left: 0px;
}

#the-wall-profile-info-name {
  width: 690px;
  font-size: 20px;
  font-weight: 600;
}

#the-wall-profile-info-status {
  width: 50px;
  line-height: 28px;
}

#the-wall-profile-info-signature {
  width: 690px;
  font-size: 14px;
}

#the-wall-profile-info-delimiter {
  width: 100%;
}

#the-wall-profile-info-delimiter hr {
  width: 100%;
  margin-top: 0px;
}
