a:hover , a:focus {
  text-decoration: none;
}

span#top-menu-music-progress .progress {
  height: 5px;
  margin: 0;
}

span#top-menu-now-playing {
  font-size: 12px;
}

a#top-menu-music {
  padding-top: 10px;
}

a#top-menu-account {
  padding-top: 12px;
  padding-bottom: 0;
}

span#top-menu-avatar img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

div.navbar-header {
  width: 150px;
  font-weight: bold;
}

.navbar > .container .navbar-brand {
  padding-top: 16px;
  font-size: 24px;
  margin-left: 0;
  padding-left: 0;
}

.navbar-form {
  padding: 0 0 0 3px;
}

nav.navbar {
  border-radius: 0 0 4px 4px;
}

.list-group-item {
  padding: 5px 15px;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0px;
  border-radius: 0px;
}

div#left-menu {
  width: 170px;
  float: left;
}

div.news-feed {
  width: 955px;
  --height: 900px;
  float: left;
  margin-left: 15px;
  --overflow-y: scroll;
}

div.panel-heading {
  padding: 5px 5px 3px 15px;
}

div.panel-footer {
  font-size: 12px;
  padding: 3px 5px 3px 15px;
  background: none;
}

div.panel-footer .likes {
  text-align: right;
}
