body .container {
  min-width: 1170px;
}

a {
  outline: 0;
}

a:hover , a:focus {
  text-decoration: none;
  background: none;
  cursor: pointer;
}

#top-menu-music-progress .progress {
  height: 5px;
  margin: 0;
}

#top-menu-now-playing {
  font-size: 12px;
}

#top-menu-music {
  padding-top: 10px;
}

.navbar #top-menu-fast-backward, #top-menu-fast-play {
  padding: 15px 0 15px 15px;
}

#top-menu-account {
  padding-top: 12px;
  padding-bottom: 0;
}

#top-menu-logout {
  left: 280px;
}

.container#login-page {
  margin-top: 100px;
}

#top-menu-avatar img {
  margin-left: 10px;
}

.navbar-header {
  width: 150px;
  font-weight: bold;
}

.navbar > .container .navbar-brand {
  padding-top: 16px;
  font-size: 24px;
  margin-left: 0;
  padding-left: 0;
}

.navbar-form {
  padding: 0 0 0 17px;
}

.navbar-form input {
  width: 203px;
  background: #fcfcfc;
}

.navbar-form input:focus {
  background: #fff;
}

.navbar {
  border-radius: 0 0 4px 4px;
}

.list-group-item {
  padding: 5px 15px;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0px;
  border-radius: 0px;
}

#left-menu {
  width: 170px;
  float: left;
}

#news-feed {
  width: 955px;
  float: left;
  margin-left: 15px;
}

.panel-heading {
  padding: 5px 5px 3px 15px;
}

.panel-footer {
  font-size: 12px;
  padding: 3px 5px 3px 15px;
  background: none;
}

.panel-footer .likes {
  text-align: right;
}

#the-wall {
  width: 955px;
  float: left;
  margin-left: 15px;
}

#the-wall-news-feed {
  width: 740px;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}

#the-wall-friends {
  float: left;
  width: 200px;
  margin-top: 15px;
}

#the-wall-friends .panel-body {
  padding: 5px 10px 10px 10px;
}

#the-wall-friends .the-wall-friend-avatar {
  width: 25px;
  height: 25px;
  float: left;
}

#the-wall-friends .the-wall-friend-avatar img {
  height: 25px;
  width: 25px;
}

#the-wall-friends a {
  float: left;
  padding-top: 5px;
}

#the-wall-friends .the-wall-friend-name {
  margin-left: 5px;
  float: left;
  line-height: 25px;
}

#the-wall-profile-info, #the-wall-avatar, #the-wall-head, .friend-avatar, .friend-right-pane {
  float: left;
}

#the-wall-avatar {
  min-width: 215px;
  padding-right: 15px;
}

#the-wall-avatar img {
  min-height: 200px;
}

#the-wall-profile-info {
  width: 740px;
  height: 200px;
  font-size: 16px;
}

#the-wall-profile-info div {
  float: left;
}

#the-wall-profile-info .col-md-3, #the-wall-profile-info .col-md-12 {
  padding: 0;
}

.btn {
  border-radius: 0;
}

.btn.toggle-friend {
  opacity: 0.1;
  margin-top: 10px;
}

.btn.toggle-friend:hover {
  opacity: 1;
}

#the-wall-profile-info-name {
  width: 588px;
  font-size: 20px;
  font-weight: 600;
}

#the-wall-profile-info-status {
  width: 148px;
  text-align: right;
  line-height: 28px;
}

#the-wall-profile-info-signature {
  width: 690px;
  font-size: 14px;
}

#the-wall-profile-info-delimiter {
  width: 100%;
}

#the-wall-profile-info-delimiter hr {
  width: 100%;
  margin-top: 0px;
}

#the-wall-publish-news-form {
  margin-bottom: 20px;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
}

#the-wall-publish-news-textarea:empty, #friend-search-textarea:empty {
  color: #999;
}

#friends-page {
  width: 955px;
}

#the-wall-publish-news-textarea, #friend-search-textarea {
  width: 100%;
  padding: 15px;
  outline: none;
  color: black;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  resize: none;
  min-height: 40px;
  border-radius: 0;
}

#the-wall-publish-news-form button[type=submit] {
  position: relative;
  left: 515px;
}

#the-wall-publish-news-form button {
  border: 1px solid #ddd;
  border-radius: 0;
}

#the-wall-publish-news-form #add-video, #the-wall-publish-news-form #add-file {
  border-left: none;
}

#the-wall-publish-news-form .form-group.fade {
  margin-top: -10px;
}

.the-wall-remove-news {
  position: relative;
  left: 710px;
  top: -15px;
  margin-bottom: -15px;
}

.the-wall-remove-news a {
  font-size: 11px;
  color: #ccc;
  opacity: 0.2;
}

.the-wall-remove-news a:hover {
  opacity: 0.3;
  color: #cc0000;
}

#the-wall-friends .panel-title {
  font-size: 14px;
}

#the-wall-friends .panel-heading div div {
  float: left;
  padding-right: 5px;
}

#friends-page {
  float: left;
  margin-left: 15px;
}

.friend-item {
  float: left;
  clear: both;
  margin-bottom: 15px;
}

.friend-avatar {
  min-width: 115px;
  padding-right: 15px;
}

.friend-name {
  font-size: 20px;
}

.friend-dialog {
}

.friend-remove a {
  color: #cc0000;
  opacity: 0.3;
}

.friend-remove a:hover {
  opacity: 1;
}

.loadingImg {
  position: fixed;
  left: 50%;
  top: 50%;
}
